 <h2>Movies</h2>
    <a href="/movies/create">Create a Movie</a>
<br>
<a href="/movies">Movies list</a>
<br>
<a href="/">Home</a>
    <form action="/movies/create" method="POST">
    <input type="text" placeholder="title" name="title">
    <input type="text" placeholder="genre" name="genre">
    <input type="text" placeholder="plot" name="plot">
    {{!-- <input type="text" placeholder="cast" name="cast"> --}}
    <label for="cast">Choose cast:</label>
<select name="cast" id="cast" multiple>
    {{#each dbCelebs}}
  <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
</select>
    <button type="submit">Submit</button>
    </form>